* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
min-height: 100vh;

display: flex;
align-items: center;
justify-content: center;

font-family: Arial, sans-serif;

background:
    radial-gradient(circle at 20% 20%, #14345a, transparent 35%),
    radial-gradient(circle at 80% 80%, #17244d, transparent 35%),
    #070b16;

color: white;


}

/* AUTH */

.auth-wrapper {
width: 100%;
max-width: 450px;
padding: 20px;
}

.auth-card {
position: relative;

width: 100%;

padding: 40px;

background: rgba(15, 23, 42, 0.95);

border: 1px solid rgba(0, 229, 255, 0.2);

border-radius: 25px;

box-shadow:
    0 20px 70px rgba(0, 0, 0, 0.5),
    0 0 40px rgba(0, 229, 255, 0.08);


}

/* FORM */

.form-panel {
width: 100%;
}

.signup-panel {
display: none;
}

.logo {
width: 65px;
height: 65px;

margin: 0 auto 20px;

display: flex;
align-items: center;
justify-content: center;

border-radius: 50%;

background: rgba(0, 229, 255, 0.1);

color: #00e5ff;

font-size: 25px;

border: 1px solid rgba(0, 229, 255, 0.3);


}

h1 {
text-align: center;
margin-bottom: 10px;
}

.subtitle {
text-align: center;
color: #8f9ab5;
margin-bottom: 30px;
}

/* INPUT */

.input-group {
position: relative;

margin-bottom: 25px;


}

.input-group input {
width: 100%;

padding: 17px 45px 17px 15px;

background: #0b1224;

border: 1px solid #263552;

border-radius: 10px;

outline: none;

color: white;

font-size: 15px;

transition: 0.3s;


}

.input-group input:focus {
border-color: #00e5ff;

box-shadow:
    0 0 10px rgba(0, 229, 255, 0.2);


}

.input-group label {
position: absolute;

left: 15px;
top: 17px;

color: #7d89a5;

pointer-events: none;

transition: 0.2s;

background: #0b1224;

padding: 0 5px;


}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
top: -8px;

font-size: 12px;

color: #00e5ff;


}

/* PASSWORD */

.password-toggle {
position: absolute;

right: 12px;
top: 50%;

transform: translateY(-50%);

border: none;

background: transparent;

color: #7d89a5;

cursor: pointer;

font-size: 16px;


}

/* BUTTON */

.main-btn {
width: 100%;

padding: 15px;

border: none;

border-radius: 10px;

background: linear-gradient(
    90deg,
    #00c6ff,
    #0072ff
);

color: white;

font-weight: bold;

cursor: pointer;

transition: 0.3s;


}

.main-btn:hover {
transform: translateY(-2px);

box-shadow:
    0 10px 25px rgba(0, 198, 255, 0.25);


}

/* SWITCH */

.switch-area {
margin-top: 25px;

text-align: center;

color: #8f9ab5;


}

.switch-area button {
margin-left: 5px;

border: none;

background: none;

color: #00e5ff;

cursor: pointer;

font-weight: bold;


}

/* MOBILE */

@media (max-width: 500px) {

.auth-wrapper {
    padding: 15px;
}

.auth-card {
    padding: 30px 20px;
}


}
